<div class="footer">

    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <img src="/assets/images/logo.png" alt="**" />
        <div class="left">
          <!-- <p class="p1">Cybercom Creation</p> -->
          <p class="p2">GROCERY SHOPPING APP</p>
          </div>
        </div>
        <div>
      <span class="me-5"><i class="bi bi-globe2"></i>Email : example@gmail.com</span>
      <span class="me-5"><i class="bi bi-telephone"></i>call us:123456789</span>
      <span class="me-5"><i class="bi bi-geo-alt"></i>Address:B-305</span>
    </div>
  </div>

 


<hr />
<div class="footer-bottom">
  <div class="footer1" style="text-align: right">
    <p style="text-align: left">© 2023, All rights reserved</p>
  </div>
  <div class="icon">
    <a target="_blank" href="https://www.facebook.com/kaneriya.ronakkumar?mibextid=ZbWKwL"> <i class="bi bi-facebook"></i></a> &nbsp; 
     <a target="_blank" href="https://instagram.com/mr.rocky_19?igshid=MTIzZWQxMDU="><i class="bi bi-instagram"></i></a> &nbsp;
    <i class="bi bi-linkedin"></i> &nbsp;
    <i class="bi bi-twitter"></i>
  </div>
</div>

</div>

