.img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    
  }

  .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }
  
  .bi{
    font-size: 40px;
  }