<nav class="nav flex-column">
    <a class="nav-link" routerLink="/user-profile/profile" routerLinkActive="active">Profile</a>
    <a class="nav-link" routerLink="/user-profile/orders" routerLinkActive="active">Orders</a>
    <a class="nav-link" routerLink="/user-profile/manage-addredd" routerLinkActive="active">Manage Addressess</a>
    <a class="nav-link" routerLink="/user-profile/change_password" routerLinkActive="active">Change Password</a>
    <a class="nav-link" routerLink="">Logout</a>
  </nav>
  