.fea-product{
    display: flex;
    justify-content: space-between; 
    .feature{
    display: flex;
    float: left;
    column-gap: 20px;
      
    }
    }

    
  .card{
    margin-left: 20px;
    margin-right: 20px;
  }

 .fa{
             color: rgb(230, 230, 6);
         }

carousel { 
z-index: 50; /* lower value than the sticky header */
}