<div>
    <img src="/assets/images/pro-detail-slide.jpg" class="img" alt="...">
    <div class="text-overlay">Change_password</div>
    </div><br>


    <div class="main">
<app-sidebar></app-sidebar>
 <div class="container">
 <form [formGroup]='changePassword'>
  <button type="submit" class="btn btn-primary" (click)="onSave(changePassword.value)">Save</button>
<div class="mb-3">
    <label  class="form-label">Current Password :-</label>
    <input type="password" class="form-control" formControlName="oldPassword" >
    <span *ngIf="oldPassword && oldPassword.touched && oldPassword.invalid">*Please Input Current password</span>

  </div>
  <div class="mb-3">
    <label class="form-label">New Password :-</label>
    <input type="password" class="form-control" formControlName="newPassword">
    <span *ngIf="newPassword && newPassword.touched && newPassword.invalid">*Please Input newpassword</span>
  </div>
  <div class="mb-3">
    <label class="form-label">Confirm New Password :-</label>
    <input type="password" class="form-control" formControlName="conformPassword">
    <span *ngIf="conformPassword && conformPassword.touched && conformPassword.invalid">*Please Input conformpassword</span>
  </div>
</form>
</div>
  </div>